{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}
{% block sub-title %}Добро пожаловать{% endblock %}

{% block style %}{% endblock %}

{% block content %}
  <div class="container">
		<form id="id-area-form" name="id-area-form" class='' method="POST" action=".">

      <div class="row">

        <div class="col s6">
          <div class="input-field col s6">
            <select id="id-select-area" name="id-select-area">
              <option value="" disabled selected>Выберите площадку</option>
            </select>
            <label>Площадки доступные в рамках вашего предприятия</label>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col s6"><a id="id-button-choose" name="id-button-choose" class="waves-effect waves-light btn" disabled>Выбрать</a></div>

      </div>

      <div class="row">

        <div class="col s6"><a id="id-button-test" name="id-button-test" class="waves-effect waves-light btn hide">Тест</a></div>

      </div>

      {% csrf_token %}

    </form>
  </div>
{% endblock %}

{% block floating_content %}{% endblock %}

{% block extrajs %}
  <script>
    $(document).ready(function(){
      request({url:'/api/area/{{ user.username }}', type:"GET", ondone:fillDropdown})

      // Обработка выбора площадки
      $('#id-select-area').on('change', function(){
        $('#id-button-choose').removeAttr('disabled')
      })

      // Выбор площадки, переход на домашнюю страницу
      $('#id-button-choose').on('click', function(){
        let areaId = $("#id-select-area option:selected").val()
        request({url:'/api/user/set_default_area/' + areaId + '/{{ user.username }}', type:"GET", ondone:redirectToHome})
      })

      //
      $('#id-button-test').on('click', function(){
        $.ajax({
          url: '/api/area',
          type: "POST",
          {#data: {"username":"petrov-pp", "email":"petrov-pp@example.com"},#}
          {#data: {"username":"olegov-oo", "password": "1234", "first_name": "Олег", "middle_name": "Олегович", "last_name": "Олегов", "email":"olegov-oo@example.com"},#}
          {#data: {"user_id":1, "resource_id":3},#}
          {#data: {"user_id":1, "resource_id":32, "date_start": "2021-04-23", "time_start": "08:00", "date_end": "2021-04-23", "time_end": "19:00"},#}
          success: function(data){log(data)},
          dataType: "json"
        });
      })

    });

    // Заполнение выпадающего списка площадок
    function fillDropdown(response){
      let result = response.result;
      let dropdown = $("#id-select-area");
      $.each(result, function() {
        dropdown.append($("<option />").val(this.id).text(this.name));
      });

      // Перерисовка дропдаунов от Materialize
      $('select').formSelect();
    }

    function redirectToHome(){
      window.location.href = '/main/home';
    }

  </script>
{% endblock %}
