{% load settings_value %}
{% load static  %}
{% load i18n %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="DC.title" content="{% settings_value 'SITE_NAME' %}" />
  <link rel="shortcut icon" href="{%  static 'img/favicon.ico' %}">

  <title>{% block title %}{% settings_value 'SITE_NAME' %}{% endblock %} | {% block sub-title %}{% endblock %}</title>
  <link rel="shortcut icon" href="{%  static 'img/favicon.ico' %}">

  {% block scripts %}
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'css/latweb.css' %}">

    <!-- Compiled and minified JavaScript -->
    <script src="{% static 'js/materialize.js' %}"></script>

    <!-- Fonts are fun -->
    <link href="{% static 'fonts/roboto/Roboto-Regular.eot' %}" rel="application/vnd.ms-fontobject">
  {% endblock %}


  {% block pagestyle %}{% endblock %}

  {% if not request.user.is_staff %}
    <script>
        // web counters here
    </script>
  {% endif %}

  {%block sub-head %}{% endblock %}

<!--  {% block style %}{% endblock %}-->
  <style>
  </style>
</head>

<body>
  {% block body %}
    {% block top_div %}{% endblock %}

    <!-- Page  -->
    {% block top_nav %}
      <ul id="id-dropdown-areas" class="dropdown-content">
        {% for a in user.company.area_set.all %}
          <li><a class="atmo-link" data="/main/home/{{ a.id }}">{{ a.name }}</a></li>
        {% endfor %}
      </ul>

      <nav>
        <div class="nav-wrapper">
          <a class="brand-logo custom" data="/main/home" href="/"><img src="/static/img/favicon.ico"></a>
          <ul id="nav-mobile" class="right">
            <li><a class="atmo-link" href="/main/livenessreport">Карта</a></li>
            <li><a href="/accounts/logout">Выход</a></li>
          </ul>
        </div>
      </nav>
    {% endblock %}

    {% if request.user.profile.is_active %}
      {% if integrations.slack %}
      {% endif %}
          {% if request.user.is_staff %}
          {% endif %}
    {% else %}
      {% if integrations.slack %}
      {% endif %}
          {% if request.user.is_staff %}
          {% endif %}
    {% endif %}

    {% block side-nav %}
        {% if request.user.profile.is_active %}
          {% if integrations.slack %}
          {% endif %}
        {% else %}
          {% if integrations.slack %}
          {% endif %}
        {% endif %}
    {% endblock %}

    {% block lower_nav %}{% endblock %}

    {% block main_body %}
      {% block content %}{% endblock %}
    {% endblock %}

    {% block floating_content %}{% endblock %}

    {% block bottom_div %}{% endblock %}

  {% endblock %} <!-- block body-->

  {% csrf_token %}

  <script>
    let isDebug = true
    let helper = {
      "user_id": "{{ user.id }}",
      "user_name": "{{ user.username }}",
      "user_company_id": "{{ user.company_id }}",
      "user_default_area_id": "{{ user.def_area_id }}",
      "target_date": "{{ target_date }}",
    }

    let datepickerIni = {
        format: 'yyyy-mm-dd',
        defaultDate: new Date("{{ target_date }}"),
        setDefaultDate: true,
        firstDay: 1,
        i18n: {
          months: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
          monthsShort: ["Янв", "Фев", "Мар", "Апр", "Май", "Июн", "Июл", "Авг", "Сен", "Окт", "Ноя", "Дек"],
          weekdays: ["Воскресенье", "Понедельник","Вторник", "Среда", "Четверг", "Пятница", "Суббота"],
          weekdaysShort: ["Вс", "Пн","Вт", "Ср", "Чт", "Пт", "Сб"],
          weekdaysAbbrev: ["Вс", "Пн","Вт", "Ср", "Чт", "Пт", "Сб"],
          cancel: 'Отмена',
          clear: 'Очистить',
          done: 'Ок'
        }
    }

    $(document).ready(function() {

      // Инициализация контролов от Materialize
      M.AutoInit();
      $('.datepicker').datepicker(datepickerIni);
      $('.timepicker').timepicker({
        "twelveHour": false,
        i18n: {
          cancel: 'Отмена',
          clear: 'Очистить',
          done: 'Ок'
        }
      });

      // Подключаем csrt-токен для пост запросов
      let csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the token to relative URLs i.e. locally.
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
      });

      //
      $('#id-datepicker-target').on('change', function(e){
        helper.target_date = $('#id-datepicker-target').val()
        onChangeDatepickerTarget(e)
      })

      $('.atmo-link').on('click', function (e){
        //alert($(e.currentTarget).attr('href')+'/'+helper.target_date)
        window.location.href = $(e.currentTarget).attr('data')+'/'+ helper.target_date
      })


    });
  </script>

  {% block extrajs %}
  {% endblock %}

</body>
</html>
