{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}
{% block sub-title %}###{% endblock %}

{% block style %}{% endblock %}

{% block content %}
    <div class="container valign-wrapper center" style="height: 90vh">


      <div class="row"><img class="move" src="/static/img/move.png"/></div>


    </div>
{% endblock %}

{% block extrajs %}
  <script>
    $(document).ready(function() {
      let url = "/api/area/" + helper.user_default_area_id + "/" + helper.target_date
      request({url:url, type:'GET', ondone:fillPage})
    });
  </script>
{% endblock %}
