{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}
{% block sub-title %}Добро пожаловать{% endblock %}

{% block style %}{% endblock %}

{% block content %}
    <div class="container">


      <div class="row">
        <div class="col s3">Площадка:</div>
        <div id="id-div-area-name" class="col s9"></div>
      </div>


      <div class="row">

        <div class="col s3">Места:</div>

        <div class="col s9">
          <div id="id-div-seats"></div>
        </div>

      </div>


      <div class="row">

        <div class="col s3">Переговорные комнаты:</div>

        <div class="col s9">
          <div id="id-div-rooms"></div>
        </div>

      </div>

      <div id="id-row-map-container" class="row">
        <div class="col s12" >

          <div id="id-progress-map" class="progress">
                <div class="indeterminate"></div>
          </div>

          <div id="id-div-map-container">
          </div>

        </div>
      </div>

    </div>
{% endblock %}

{% block extrajs %}
  <script>
    $(document).ready(function() {
      let url = "/api/area/" + helper.user_default_area_id + "/" + helper.target_date
      request({url:url, type:'GET', ondone:fillPage})
    });

    function fillPage(response){
      // Заполням основные поля на домашней странице
      // важно: заполняется тег w3-include-html урлом карты, которая потом будет включена в html страницы
      let result = response.result
      let area_name = result.name
      let area_map = result.map_url
      let rooms = result.resources.rooms
      let seats = result.resources.seats
      $("#id-div-area-name").text(area_name)
      $("#id-div-seats").text(seats.length)
      $("#id-div-rooms").text(rooms.length)
      $("#id-div-map-container").html('<div w3-include-html="' + area_map + '?nocash=9"></div>')
      switchMapLoading(true);
      includeHTML(getResource);
    }

    function getResource(){
      // Получаем список ресурсов для выбранной площадки.
      // В случае успеха вызываем функцию которая пометит ресурс в соответствии с его статусом занятости
      let url = "/api/area/" + helper.user_default_area_id + "/" + helper.target_date
      request({url:url, type:'GET', ondone:markAll})
      setMapHandlers()
    }

    function setMapHandlers(){
      // Подключаем обработку клика по объектам карты
      $( "g[id^='table-']" ).on('click', function (e){
        let seatId = $(e.currentTarget).data()["id"]
        window.location.href = '/main/resource/' + seatId + '/' + helper.target_date;
      })

      $("#id-cells").removeClass('st151')
      $("#id-cells").addClass('btn')
      $("#id-cells").addClass('cells')
      $("#id-cells").on('click', function (e){
        let seatId = $(e.currentTarget).data()["id"]
        window.location.href = '/main/cells/' + helper.user_default_area_id + '/' + helper.target_date;
      })
    }

    function markAll(response) {
      let seats = response.result.resources.seats;
      let rooms = response.result.resources.rooms;
      markResource(seats)
      markResource(rooms)
      switchMapLoading(false)
    }

    function markResource(resourceDict){
      // Помечаем ресурсы в соответствии с их статусом занятости
      // Пример записи ресурса в svg:
      //<g id="table-20">
      //  <polyline id="rect-20" points="183.4,448.7 216.9,448.7 216.9,515.8 183.4,515.8 183.4,448.7 				"/>
      //  <circle id="circle-20" cx="200.3" cy="480.8" r="13.4"/>
      //  <text>20</text>
      //</g>
      for (let key in resourceDict) {
        let circleName = '#' + 'circle-' + resourceDict[key]['name']
        let rectName = '#' + 'rect-' + resourceDict[key]['name']
        let tableName = '#' + 'table-' + resourceDict[key]['name']
        $(tableName).addClass("resource")
        $(tableName).data("id", resourceDict[key]['id'])

        if(resourceDict[key]['percent_of_booked_time'] > 90) {
          $(circleName).addClass("booked")
          $(rectName).addClass("booked")
        }else if (resourceDict[key]['percent_of_booked_time'] > 0) {
          $(circleName).addClass("booked")
          $(rectName).removeClass("booked", "persisted")
        } else {
          $(circleName).removeClass("booked", "persisted")
          $(rectName).removeClass("booked", "persisted")
        }

        if(resourceDict[key]['status']=='persisted') {
          $(circleName).addClass("persisted")
          $(rectName).addClass("persisted")
        }


      }
    }

    function onChangeDatepickerTarget(e){
      let url = "/api/area/" + helper.user_default_area_id + "/" + helper.target_date
      request({url: url, type:'GET', ondone:markAll})
    }

    function switchMapLoading(on=true){
      // Переключение между показом кары и прогресс бара
      if(on){
        $("#id-progress-map").css("display", "block")
        $("#id-div-map-container").css("display", "none")
      }else{
        $("#id-progress-map").css("display", "none")
        $("#id-div-map-container").css("display", "block")
      }
    }



  </script>
{% endblock %}
