{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}
{% block sub-title %}liveness report{% endblock %}

{% block style %}{% endblock %}

{% block content %}
  <div >
    <div class="center">{{ last|date:'m.d H:i:s' }}</div>

    <div class="container report">
    <table class="report">
      {% for day in intervals %}
        <tr class="day">
          {% for item in day %}
            {% if item.minutes == 10 %}
             <td class="minute lgreen" title="{{ item.hint }}"></td>
            {% elif item.minutes == 0 %}
             <td class="minute lred" title="{{ item.hint }}"></td>
            {% else %}
              <td class="minute lyellow" title="{{ item.hint }}"></td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
    </div>

  </div>
{% endblock %}

{% block extrajs %}
  <script>
    document.addEventListener('DOMContentLoaded', function(){
      M.AutoInit();
      document.querySelectorAll("td.minute.lyellow, td.minute.lgreen").forEach(
        function(item){
          item.addEventListener('click', function(){
            M.toast({html: "<pre>"  + item.title + "</pre>"});
          });
        }
      );
    });
  </script>
{% endblock %}


