@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("/static/fonts/material/material-icons.eot");
    src: local('Material Icons'),
    url('/static/fonts/material/material-icons.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/material/material-icons.woff2') format('woff2'),
    /*url('/static/fonts/material/material-icons.woff') format('woff'),*/
    url('/static/fonts/material/material-icons.ttf') format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

html {
  height: 100%;
}

body {
  line-height: 1;
  background-color: white;
  height: 100%;
}

a:hover {
  cursor: pointer;
}

.booked {
    cursor: pointer;
}

.booking-calendar {
    margin: 2px;
}

.booking-calendar .name-cell {
    padding-bottom: 2px;
}

#id-datepicker-target {
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding-left: 5px;
    border: solid 0px;
    width: 88px;
}

.trash{
    color: #ee6e73;
    font-size: 20px;
    cursor: pointer;
    margin-top: -3px;
}

.booked {
    background-color: pink;
}

.partly {
    background-color: #ffe6c0;
}

.free{
    background-color: greenyellow;
}

.persisted{
    fill: #d1d1d1;
}

.resource {
    cursor: pointer;
}

.resource .booked{
    fill: pink;
}

.resource .persisted{
    fill: #d1d1d1;
}

.resource rect .free{
    fill: white;
}

.atmo-link {
    cursor: pointer;
}

.profile-participant-link {
    color: #0D47A1;
    font-weight: bold;
}

.color-positive {
    color: #26a69a;
}

.color-negative {
    color: #ee6e73;
}

nav .nav-wrapper .tablet-icon {
    font-size: 17px;
}

button {
    width: 100%;
}

#id_username, #id_password {
    text-align: center;
}

h4 {
   color: #ee6e73;
}

.top-nav-user{
    margin-right: 40px;
}

.modal .pin{
    width: 30%;
}



/* materialize.css patch */
.row .col {
    padding: 0 0;
}

.input-field.col label {
    left: 0;
}

nav {
    margin-bottom: 1vh;
}

.collapsible {
     border-top: 0px solid #ddd;
     border-right: 0px solid #ddd;
     border-left: 0px solid #ddd;
     margin: 0.5rem 0 1rem 0;
}

.row.valign-wrapper .col{
    margin-left: 0px;
}

nav .datepicker-day-button {
    color: rgba(0, 0, 0, 0.87);
}

nav .is-selected .datepicker-day-button{
    color: #fff;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
  /* Предотвращение появления нижней границы при активации. */
  /* materialize.css:6215 */
  border-bottom: 0px solid #26a69a;
  -webkit-box-shadow: 0 0px 0 0 #26a69a;
          box-shadow: 0 0px 0 0 #26a69a;
}

.confirmation-btns {
    display: contents;
}

body .hinted-hint-bottom-link {
    display: none;
}

div .cells-container {
    display: flex;
}

div .cell {
    margin: 1px 1px 1px 1px;
    padding: 2px 2px 2px 2px;
    cursor: pointer;
    color: black;
}

.cells {
    fill: blue;
}