a.brand-logo.custom {
  padding-left: 10px;
}

div.head {
  margin-top: 20px;
}

img.move {
  max-width: 100%;
}

pre.toast-msg {
  font-family: monospace, monospace;
  font-size: 12px;
  line-height: 12px;
}

.report {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: space-between;
}

.hidden {
  display: none
}


.item {
  text-align: center;
  margin: 2px
}

.line-break {
  width: 100%;
}

.hint {
    font-size: 10px;
}